/*inicio de section porfile*/
.profile{
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
    width: 90vw;
    height: 900px;    
    margin: 3% 3% 3% 4%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

  .item-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 9%;
  }

  .self-profile{
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    align-items: center;
  }

  .title-name{
    font-size: 25px;
    margin: auto; 
  }

  .description{
    font-size: 20px;
    margin: auto;
  }

  .icon{
    font-size: 35px;
    color: black;
  }

  .icon:hover{
    color: #0077B5;
  }
  /*fin de seccion de los perfiles*/


