* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

/* video */
.video-style{
    width: 90vw;
    height: 40vw;
    object-fit: cover; /* para ajustar img o videos al contenedor */
    border-radius: 40px;
    display: flex;
    margin: 3% 3% 3% 4%;
}

.video-style::-webkit-media-controls {
    display: none;
}
/* fin video */

/* inicio barra navegacion */
 .header{
    /* background: linear-gradient(90deg, rgba(152,185,250,1) 6%, rgba(230,230,230,1) 100%);   */
    background: linear-gradient(90deg, rgba(100,150,249,1) 17%, rgba(230,230,230,1) 100%);
    height: 80px; 
    opacity: 70%;
    padding: 0 3%; 
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    width: 70vw;
    position: fixed;
    margin: 1% 0 0 11%;
}


.img-nav{
    width: auto;
    /* height: 60%;   PREGUNTAR!!!!!
    padding-top: 16px; */
    height: 93%;
    padding-top: 3px;
}   

.list{
    text-align: center;
    width: 130px;
    height: 45px;
}

.list-nav{
    display: flex;
    list-style: none;
    font-size: 20px;
    margin-top: 6%;
}

.a-list{
    /* color: white; */
    color: black;
    text-decoration: none;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    /* background-color: black; */
    /* background-color: white; */
    background-color: #6496f9;
}

.a-list-first{
    /* color: white; */
    color: black;
    text-decoration: none;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    /* background-color: black; */
    background-color: #6496f9;
    margin-left: 40px;
}

.a-list:hover{
    color: black;
    background-color: white;
}

.a-list-first:hover{
    color: black;
    background-color: white;
}

/* fin de barra navegacion */

/* inicio section */

h2{
    text-align: center;
    margin-top: 20px;
}

.section-article{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 35px;
    margin-left: 4%;
    margin-top: 5%;
}

.article{
    display: grid;
    background-color: #F1EDED;
    border-radius: 30px;
    height: 200px;
    width: 315px;
    text-align: justify;
    padding: 10px;
    margin: 10px 10px 0px 5px;
    font-size: medium;
}

.text-small{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

/* fin section */

/* inicio footer */

.footer {
    background-color: black;
    width: auto;
    height: auto;
    margin-top: 20%;
    margin-bottom: 0%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.estamos, .contactanos, .trabaja {
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: rgb(37, 195, 206);
    padding: 2%;
    margin-left: 2%;
}

.direccion {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    color: white;
    margin-left: 4%;
    margin-top: -2%;
}

.contactanos {
    display: flex;
    justify-content: center;
    margin-top: -9.3%;
    margin-right: 4.5%;
}

.datos {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 5.9%;
    margin-top: -2%;
    margin-right: 4.4%;
}

.trabaja {
    display: flex;
    justify-content: flex-end;
    margin-top: -7.6%;
    margin-right: 5%;
}

.rrhh {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: -2%;
    margin-right: 10.7%;
}

.line {
    width: 89%;
    height: -10%;
    background-color: rgb(128, 127, 127)2, 78, 78;
    border-color: rgb(0, 0, 0);
    margin-left: 4%;
    margin-top: 1.5%;
}

.copyright {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    color: white;
    margin-left: 4%;
    margin-top: 1.5%;
}

.logos {
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
    margin-top: -2%;
}

/* fin footer */

