*{
  margin: 0px;
  padding: 0px;
  font-family: 'Jost', sans-serif;
}

/* inicio barra navegacion */
.header {
  background-color: #ff7f99;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%; /*Para dar espacio en los bordes */
}

.title {
  font-weight: bold;
  color: white;
  font-size: 45px;
}

.title-yellow {
  color: #FFCA41;
}

.list-d {
  list-style-type: none;
  display: flex;
  padding-top: 3%;
}

.list {
  float: left;
  text-align: center;
  width: 150px;
  height: 45px;
}

.a-list {
  color: white;
  padding: 10px 20px;
  font-size: 24px;
}

.a-list:hover {
  border: 2px solid #FFCA41;
  border-radius: 30px;
  background-color: rgba(255, 202, 65, .3);
}
/* fin barra de navegacion */

/* inicio section */

.section-container {
  display: flex;
  flex-direction: row;
  margin: 30px 0px 28px 0px;
  padding-left: 10%;
}

.background-img {
  width: 456px;
  height: 456px;
  border-radius: 240px 0px 240px 240px;
  background: #FF7F99;
  padding: 8px 9px 0px 10px;
  margin-left: 5%;
}

.img-principal {
  width: 444px;
  height: 444px;
  border-radius: 444px;

}

.text-section {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
  margin-left: 10%;
  margin-right: 15%;
  text-align: justify;
}

.name {
  font-size: 85px;
  color: #ff7f99;
  line-height: 65px;
  font-weight: 400;
  margin: 0;
}

.subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 65px;
}

.description {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 20px;
  /* padding-right: 40%; */
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-section {
  color: black;
  font-size: 45px;
}

.button {
  width: 186px;
  height: 45px;
  border-radius: 44.5px;
  background-color: #FFCA41;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 4%;
}

.button:hover {
  background-color: #ff7f99;
}

/* fin section */

/* inicio footer */
footer {
  background-color: #ff7f99;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 550px;
}

.img-personal {
  width: 277px;
  height: 277px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 100%;
}

.subtitle-h3 {
  color: white;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  line-height: 50px;
}

.subtitle-h4 {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 7%;
}

.icon {
  color: black;
  font-size: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

/* fin footer */


/*************************************************** DISEÑO RESPONSIVE *********************************************/

@media (max-width: 632px){
  /* inicio header */

  .title {
    font-size: 45px;
    margin: 3px;
  }

  .list-d{
    flex-direction: column;
  }

  .list {
    text-align: center;
    width: 80px;
    height: 20px;
    margin-bottom: 10px;
  }

  .a-list {
    color: white;
    padding: 5px 10px;
    font-size: 15px;
  }
/* fin header */

/* inicio section */

.background-img {
  width: 330px;
  height: 330px;
  border-radius: 240px 0px 240px 240px;
  background: #FF7F99;
  padding: 8px 0px 0px 10px;
  margin: 0 auto;
}

.img-principal {
  width: 318px;
  height: 318px;
  border-radius: 100%;
  padding-top: 1%;
}

.name {
  font-size: 60px;
  line-height: 47px;
  font-weight: 400;
  text-align: center;
  padding-top: 25px;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 20px;
  line-height: 25px;
}

.icon-container {
  justify-content: center;
}

.text-section {
  display: flex;
  flex-direction: column;
  /* text-align: justify; */
  margin: 0px;
  padding-left: 44px;
  padding-right: 44px;
}

  .section-container{
    display: block;
    padding-left: 0%;
  }

  .section-row{
    margin-left: 0px; /*MIRAR ESTO*/
  }
/* fin section */

/* inicio footer */
   .footer{
    display: block;
    height: 100%;
  }

  .subtitle-h3{
    font-size: 35px;
    padding-top: 10%;
  }

  .subtitle-h4{
    font-size: 24px;
    padding-top: 7%;
    padding-bottom: 7%;
  }

  .img-personal {
    margin-left: 18%;
  }

  .perfil{
    padding-top: 15%;
  }
}
/* fin footer */

